.back-btn {
  margin: 20px 0 0 20px;
  background: transparent;
  border: none;
  color: #e5e5e5;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Merriweather", serif;
}

.back-btn:hover {
  color: #00ffff;
  text-shadow: 0 0 6px #00ffff;
}
