html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #0f2027;
}

.app-container {
  min-height: 100vh;
}